@inherits LayoutComponentBase

<PageTitle>EmployeeManagmentSystem</PageTitle>

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            <a href="https://docs.microsoft.com/aspnet/" target="_blank">About</a>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

<BlazoredToasts Position="Blazored.Toast.Configuration.ToastPosition.TopRight"

   Timeout="3"
   ShowProgressBar=true
   IconType="Blazored.Toast.Configuration.IconType.FontAwesome"
   SuccessClass="success-toast-override"
   SuccessIcon="fa fa -thumbs-up"
   ErrorIcon="fa fa-bug"
   WarningIcon="=fa fa-warning"
   InfoIcon="fa fa-info-circle"

></BlazoredToasts>

<style>
    .top.row{
        display: none !important;
    }
</style>